# Time Series: Data Acquisition Exercises
***

#### 1. Using the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

In [1]:
# Define base url to obtain api from

import requests
url= 'https://python.zgulde.net'
print(requests.get(url).text)

{"api":"/api/v1","help":"/documentation"}

In [2]:
# create response containing the contents of the response from the api

response = requests.get(url + '/api/v1/items')
print(response.json()['payload'])

{'items': [{'item_brand': 'Riceland', 'item_id': 1, 'item_name': 'Riceland American Jazmine Rice', 'item_price': 0.84, 'item_upc12': '35200264013', 'item_upc14': '35200264013'}, {'item_brand': 'Caress', 'item_id': 2, 'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct', 'item_price': 6.44, 'item_upc12': '11111065925', 'item_upc14': '11111065925'}, {'item_brand': 'Earths Best', 'item_id': 3, 'item_name': 'Earths Best Organic Fruit Yogurt Smoothie Mixed Berry', 'item_price': 2.43, 'item_upc12': '23923330139', 'item_upc14': '23923330139'}, {'item_brand': 'Boars Head', 'item_id': 4, 'item_name': 'Boars Head Sliced White American Cheese - 120 Ct', 'item_price': 3.14, 'item_upc12': '208528800007', 'item_upc14': '208528800007'}, {'item_brand': 'Back To Nature', 'item_id': 5, 'item_name': 'Back To Nature Gluten Free White Cheddar Rice Thin Crackers', 'item_price': 2.61, 'item_upc12': '759283100036', 'item_upc14': '759283100036'}, {'item_brand': 'Sally Hansen', 'item_id': 6, 'item_name': 'Sally Hansen Nail Color Magnetic 903 Silver Elements', 'item_price': 6.93, 'item_upc12': '74170388732', 'item_upc14': '74170388732'}, {'item_brand': 'Twinings Of London', 'item_id': 7, 'item_name': 'Twinings Of London Classics Lady Grey Tea - 20 Ct', 'item_price': 9.64, 'item_upc12': '70177154004', 'item_upc14': '70177154004'}, {'item_brand': 'Lea & Perrins', 'item_id': 8, 'item_name': 'Lea & Perrins Marinade In-a-bag Cracked Peppercorn', 'item_price': 1.68, 'item_upc12': '51600080015', 'item_upc14': '51600080015'}, {'item_brand': 'Van De Kamps', 'item_id': 9, 'item_name': 'Van De Kamps Fillets Beer Battered - 10 Ct', 'item_price': 1.79, 'item_upc12': '19600923015', 'item_upc14': '19600923015'}, {'item_brand': 'Ahold', 'item_id': 10, 'item_name': 'Ahold Cocoa Almonds', 'item_price': 3.17, 'item_upc12': '688267141676', 'item_upc14': '688267141676'}, {'item_brand': 'Honest Tea', 'item_id': 11, 'item_name': 'Honest Tea Peach White Tea', 'item_price': 3.93, 'item_upc12': '657622604842', 'item_upc14': '657622604842'}, {'item_brand': 'Mueller', 'item_id': 12, 'item_name': 'Mueller Sport Care Basic Support Level Medium Elastic Knee Support', 'item_price': 8.4, 'item_upc12': '74676640211', 'item_upc14': '74676640211'}, {'item_brand': 'Garnier Nutritioniste', 'item_id': 13, 'item_name': 'Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam', 'item_price': 6.47, 'item_upc12': '603084234561', 'item_upc14': '603084234561'}, {'item_brand': 'Pamprin', 'item_id': 14, 'item_name': 'Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief', 'item_price': 7.54, 'item_upc12': '41167300121', 'item_upc14': '41167300121'}, {'item_brand': 'Suave', 'item_id': 15, 'item_name': 'Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut', 'item_price': 9.11, 'item_upc12': '79400847201', 'item_upc14': '79400847201'}, {'item_brand': 'Burts Bees', 'item_id': 16, 'item_name': 'Burts Bees Daily Moisturizing Cream Sensitive', 'item_price': 5.17, 'item_upc12': '792850014008', 'item_upc14': '792850014008'}, {'item_brand': 'Ducal', 'item_id': 17, 'item_name': 'Ducal Refried Red Beans', 'item_price': 1.16, 'item_upc12': '88313590791', 'item_upc14': '88313590791'}, {'item_brand': 'Scotch', 'item_id': 18, 'item_name': 'Scotch Removable Clear Mounting Squares - 35 Ct', 'item_price': 4.39, 'item_upc12': '21200725340', 'item_upc14': '21200725340'}, {'item_brand': 'Careone', 'item_id': 19, 'item_name': 'Careone Family Comb Set - 8 Ct', 'item_price': 0.74, 'item_upc12': '41520035646', 'item_upc14': '41520035646'}, {'item_brand': 'Usda Produce', 'item_id': 20, 'item_name': 'Plums Black', 'item_price': 5.62, 'item_upc12': '204040000000', 'item_upc14': '204040000000'}], 'max_page': 3, 'next_page': '/api/v1/items?page=2', 'page': 1, 'previous_page': None}

In [3]:
#Turn that .json content into a dictionary for use with Python
data = response.json()

In [4]:
#Create a dataframe containing the dictionary created from the .json sent by the api
import pandas as pd

df_items = pd.DataFrame(data['payload']['items'])
df_items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

#### 2. Do the same thing, but for stores (https://python.zgulde.net/api/v1/stores)

In [5]:
# create response containing the stores from the api

response_stores = requests.get(url + '/api/v1/stores')
print(response_stores.json()['payload'])

{'max_page': 1, 'next_page': None, 'page': 1, 'previous_page': None, 'stores': [{'store_address': '12125 Alamo Ranch Pkwy', 'store_city': 'San Antonio', 'store_id': 1, 'store_state': 'TX', 'store_zipcode': '78253'}, {'store_address': '9255 FM 471 West', 'store_city': 'San Antonio', 'store_id': 2, 'store_state': 'TX', 'store_zipcode': '78251'}, {'store_address': '2118 Fredericksburg Rdj', 'store_city': 'San Antonio', 'store_id': 3, 'store_state': 'TX', 'store_zipcode': '78201'}, {'store_address': '516 S Flores St', 'store_city': 'San Antonio', 'store_id': 4, 'store_state': 'TX', 'store_zipcode': '78204'}, {'store_address': '1520 Austin Hwy', 'store_city': 'San Antonio', 'store_id': 5, 'store_state': 'TX', 'store_zipcode': '78218'}, {'store_address': '1015 S WW White Rd', 'store_city': 'San Antonio', 'store_id': 6, 'store_state': 'TX', 'store_zipcode': '78220'}, {'store_address': '12018 Perrin Beitel Rd', 'store_city': 'San Antonio', 'store_id': 7, 'store_state': 'TX', 'store_zipcode': '78217'}, {'store_address': '15000 San Pedro Ave', 'store_city': 'San Antonio', 'store_id': 8, 'store_state': 'TX', 'store_zipcode': '78232'}, {'store_address': '735 SW Military Dr', 'store_city': 'San Antonio', 'store_id': 9, 'store_state': 'TX', 'store_zipcode': '78221'}, {'store_address': '8503 NW Military Hwy', 'store_city': 'San Antonio', 'store_id': 10, 'store_state': 'TX', 'store_zipcode': '78231'}]}

In [6]:
#Turn that .json content into a dictionary for use with Python
data_stores = response_stores.json()

In [7]:
#Look at keys of dictionary
data_stores.keys()

dict_keys(['payload', 'status'])

In [8]:
#Create a dataframe containing the dictionary created from the .json sent by the api

df_stores = pd.DataFrame(data_stores['payload']['stores'])
df_stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

#### 3. Extract the data for sales (https://python.zgulde.net/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [9]:
#Iterating thru every page and concatenating the sales info from each page, we create a loop

#acquire .json from url
response_sales = requests.get(url + '/api/v1/sales')

#turn .json content into dictionary
data_sales = response_sales.json()

#turn dictionary into a dataframe
df_sales = pd.DataFrame(data_sales['payload']['sales'])

#Get ready to iterate thru all pages 
num_pages = data_sales['payload']['max_page']

# loop thru the iterations
for i in range(1,num_pages):

    response_sales = requests.get(url + data_sales['payload']['next_page'])
    data_sales = response_sales.json()
    df_sales = pd.concat([df_sales, pd.DataFrame(data_sales['payload']['sales'])])

In [10]:
df_sales.shape

(913000, 5)

####  4. Save the data in your files to local csv files so that it will be faster to access in the future.

In [11]:
#create a csv from sales data and store locally
df_sales.to_csv('sales.csv')

#### 5. Combine the data from your three separate dataframes into one large dataframe.

In [12]:
#To merge all data, look at all 3 dataframes and look for key to merge on
df_items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [15]:
df_stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [16]:
df_sales.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

In [17]:
df_sales_and_stores = pd.merge(df_sales, df_stores, how='left', left_on='store' , right_on='store_id')

In [18]:
df_sales_and_stores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913000 entries, 0 to 912999
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   item           913000 non-null  int64
 1   sale_amount    913000 non-null  float64
 2   sale_date      913000 non-null  object
 3   sale_id        913000 non-null  int64
 4   store          913000 non-null  int64
 5   store_address  913000 non-null  object
 6   store_city     913000 non-null  object
 7   store_id       913000 non-null  int64
 8   store_state    913000 non-null  object
 9   store_zipcode  913000 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 76.6+ MB

In [20]:
df_all = pd.merge(df_sales_and_stores, df_items, how='left', left_on='item', right_on='item_id')

In [21]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913000 entries, 0 to 912999
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   item           913000 non-null  int64
 1   sale_amount    913000 non-null  float64
 2   sale_date      913000 non-null  object
 3   sale_id        913000 non-null  int64
 4   store          913000 non-null  int64
 5   store_address  913000 non-null  object
 6   store_city     913000 non-null  object
 7   store_id       913000 non-null  int64
 8   store_state    913000 non-null  object
 9   store_zipcode  913000 non-null  object
 10  item_brand     365200 non-null  object
 11  item_id        365200 non-null  float64
 12  item_name      365200 non-null  object
 13  item_price     365200 non-null  float64
 14  item_upc12     365200 non-null  object
 15  item_upc14     365200 non-null  object
dtypes: float64(3), int64(4), object(9)
memory usage: 118.4+ MB

#### 6. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [13]:
df_germany = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')

In [14]:
df_germany.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

#### 7. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [ ]:
# Created functions in separate acquire.py file